@charset "utf-8";

nav.floating {
    position: absolute;
    top: 80px;
    left: 50px;
    background-color: #ffffff;
}


#image {
	object-fit:cover;
	border-radius:50%;
    width:  105px;       /* ※縦横を同値に */
    height: 105px;       /* ※縦横を同値に */
}

.first-view {
    height: calc(100vh - 110px);
    background: url(../images/index/back_main.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}
.first-view-recruit{
    height: calc(55vh - 100px);
    background: url(../images/index/recruit.jpg);
    margin-left: 10px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center 30%;
    background-size: cover;
    display: flex;
    align-items: center;
}

.margin{

    text-align: center;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.item-color{
    background-color: aquamarine;
}

div.image_circle {
    width: 100px;
    height:100px;
    border-radius:50%;
    background-image: url("images/index/logo.png");
}


.first-view-text {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 80px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 10px #4b2c14;
}

.first-view-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    line-height: 72px;
}

.first-view-text h2 {
    font-family: 'Sawarabi Mincho', serif;
    font-size: 45px;
    line-height: 72px;
}

.first-view-text h3{
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    line-height: 72px;
}

.first-view-text p {
    font-size: 18px;
    margin-top: 20px;
}

.about {
    /* height: calc(100vh - 110px); */
    height: calc(100% - 300px);
    background-color:#E0FFFF;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* display: flex;
    align-items: center; */
}

.about-text{
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    font-size: 45px;
    line-height: 72px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 80px;
    /* width: 100px; */
}
.about-text h2{
    font-size: 30px;
    line-height: 72px;
    /* vertical-align: text-top; */
}

.about-text h3{
    /* font-family: 'Sawarabi Mincho', serif; */
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    line-height: 300px;
    vertical-align: text-top;
}

.center {
    text-align: center;
}


.wrap {
    margin: 0;
    display: flex;
    text-align: center;
}
.A {
    /* background-color: red; */
    height: 60px;
    flex: 1;
    
    margin-right: 1rem;
}
.line {
    margin: 0 1rem;
    width: 2px;
    background-color: #000;
}
.B {
    /* background-color: blue; */
    height: 60px;
    flex: 1;
    
    margin-left: 1rem;
}



.vertical-align{
    font-family: "Hiragino Mincho ProN","游明朝","Yu Mincho",YuMincho,HiraMinProN-W3,"Noto Serif JP",serif;
    margin-bottom: 35px;
    text-align: center;
    font-size: 16px;
    letter-spacing: .15em;
    line-height: 2.2em;
    font-size: 16px;
}


.ir-view {
    height: calc(100vh - 110px);
    background: url(../images/index/ir.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.ir-view-text {
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    /* padding-left: 40px; */
    padding-bottom: 20px;
    color: black;
    
    font-weight: bold;
    text-shadow: 1px 1px 10px #4b2c14;
}


.yumintyo{
    font-family: "Hiragino Mincho ProN","游明朝","Yu Mincho",YuMincho,HiraMinProN-W3,"Noto Serif JP",serif;
    text-shadow: none;
}




.lead {
    max-width: 1200px;
    margin: 60px auto;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: sans-serif;
    font-size: 16pt;
    color: #000000;
    line-height: 1;
    background-color: #ffffff;
}

img {
    max-width: 100%;
}

.header-inner {
    max-width: 1200px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* 写真を2行2列で配置 */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2列 */
    grid-template-rows: 1fr 1fr;    /* 2行 */
    gap: 10px; /* グリッドアイテム間の隙間を設定（必要に応じて調整） */
    text-shadow:none;
}
.grid-item {
    line-height: 72px;
    font-size: 23px;
    border: 2px solid #000; /* グリッドアイテムの境界線を追加（任意のスタイルで変更可能） */
    padding: 10px; /* グリッドアイテムの内側の余白を設定（必要に応じて調整） */
}

.grid-item-white {
    line-height: 72px;
    font-size: 23px;
    border: none; /* グリッドアイテムの境界線を追加（任意のスタイルで変更可能） */
    padding: 10px; /* グリッドアイテムの内側の余白を設定（必要に応じて調整） */
}



.grid-item p{
    margin: 0px;
}


.toggle-menu-button {
    display: none;
}

.header-logo {
    display: block;
    width: 170px;
}

.site-menu ul {
    display: flex;
}

.site-menu ul li {
    margin-left: 20px;
    margin-right: 20px;
}

/* フォント変更追記 */
.site-menu ul li a {
    font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 800px) {

    .first-view-text h3{
        margin-top: 155px;
        font-family: 'Montserrat', sans-serif;
        font-size: 45px;
        line-height: 72px;
    }

    .grid-item-white {
        line-height: 72px;
        font-size: 18px;
        border: none; /* グリッドアイテムの境界線を追加（任意のスタイルで変更可能） */
        padding: 10px; /* グリッドアイテムの内側の余白を設定（必要に応じて調整） */
    }

    .first-view-text h2 {
        font-family: 'Sawarabi Mincho', serif;
        font-size: 28px;
        line-height: 50px;
    }

    .about-text h2{
        font-size: 26px;
        line-height: 72px;
        /* vertical-align: text-top; */
    }

    #image {
        object-fit:cover;
        border-radius:50%;
        width:  50px;       /* ※縦横を同値に */
        height: 50px;       /* ※縦横を同値に */
    }

    .site-menu ul {
    display: block;
    text-align: center;
    }

    .site-menu li {
        margin-top: 20px;
    }

    .lead {
        max-width: 400px;
        margin: 60px auto;
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #ffffff;
        height: 50px;
        z-index: 10;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    }

    .header-inner {
        padding-left: 20px;
        padding-right: 20px;
        height: 100%;
        position: relative;
    }

    .header-logo {
        width: 100px;
    }

    .header-site-menu{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        color: #ffffff;
        background-color: #736e62;
        padding-top: 30px;
        padding-bottom: 50px;
        display: none;
    }

    .header-site-menu.is-show {
        display: block;
    }

    .main {
        padding-top: 50px;
    }

    .footer-logo {
        margin-top: 60px;
    }

    .copyright {
        margin-top: 50px;
    }

    .toggle-menu-button {
        display: block;
        width: 44px;
        height: 34px;
        background-image: url(../images/common/icon-menu.png);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
        border-radius: 0;
        outline: none;
    }
}

.sns-logo{
    display: block;
    width: 300px;
    margin: 0 0 0 auto;
}

.copyright {
    font-size: 14px;
    font-weight: bold;
    margin-top: 90px;
}